
body {
    background-image: url('Weatherimg.jpg');
    background-size: 50% 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    
    

}
